<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Products Management" verbose="1" >

    <test name="Create New Product [Chrome]" >
        <parameter name="browser" value="chrome"/>
        <parameter name="login" value="webinar.test@gmail.com"/>
        <parameter name="password" value="Xcg7299bnSmMuRLp9ITw"/>
        <parameter name="name" value="ProductTest"/>
        <parameter name="qty" value="12"/>
        <parameter name="price" value="48"/>
        <!--configure test to execute testing script using Chrome browser-->
        <classes>
            <class name="myprojects.automation.assignment4.tests.CreateProductTest"/>
        </classes>
    </test>
    <test name="Create New Product [Internet explorer]" >
        <parameter name="browser" value="internet explorer"/>
        <parameter name="login" value="webinar.test@gmail.com"/>
        <parameter name="password" value="Xcg7299bnSmMuRLp9ITw"/>
        <parameter name="name" value="ProductTest"/>
        <parameter name="qty" value="12"/>
        <parameter name="price" value="48"/>
        <!--configure test to execute testing script using Chrome browser-->
        <classes>
            <class name="myprojects.automation.assignment4.tests.CreateProductTest"/>
        </classes>
    </test>
    <test name="Create New Product [Firefox]">
        <parameter name="browser" value="firefox"/>
        <parameter name="login" value="webinar.test@gmail.com"/>
        <parameter name="password" value="Xcg7299bnSmMuRLp9ITw"/>
        <parameter name="name" value="ProductTest"/>
        <parameter name="qty" value="12"/>
        <parameter name="price" value="48"/>
        <classes>
            <class name="myprojects.automation.assignment4.tests.CreateProductTest"/>
        </classes>
    </test>

    <!--Prepare test for firefox and IE browsers-->

</suite>